

/** NavBar **/
.navbar {
  background-color: transparent;
  border: none;
}

li a {
  font-size: 1.3em;
}

.navbar-default .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover {
  color: gold;
  text-shadow: 1px 1px black;
}

.navbar-default .navbar-nav li.active a{
  background-color: gold;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}


/** Landing Page **/


#homePage{
  background-image: url('../images/house_finch.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 750px;
}

#pageTitle{
  text-align: center;
  color: white;
  margin-top: 20em;
}

@media only screen
and (max-width: 500px) {
  #pageTitle{
    /*margin-top: 35%;*/
  }
}
@media only screen
and (max-width: 768px) {
  nav a {
    font-size: 1em;
  }
}

.links{
  margin: auto;
  text-align: center;
}
.links a {
  text-align: center;
  color: white;
}

#linkedinLink:hover{
  color: #0077B5;
}

#githubLink:hover{
  color: #333
}

#instagramLink:hover {
  color: black;
}

#twitterLink:hover{
  color: #1da1f2
}


/** About Me Page **/
#aboutMePage .jumbotron{
  background-color: hsl(118, 25%, 79%);
}
#mephoto{
  width: 300px;
}

#aboutMePage h2 {
  text-align: center;
}

#mephotodiv {
  text-align: center;
}
#mephoto{
  border-radius: 5%;
}

#portfolioPage img {
  border-radius: 2%;
}

#portfolioPage img:hover{
  opacity: .5;
}
